<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
    </div>

    <div>This site is created by Mohomed Gazzali Husny Ahamed as a oet project while waiting for a project in Mobiquity</div>
    
    {{>footer}}
</body>

</html>